TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=f4ke4pik3yf0rdev3env0nly
NODE_ENV=development
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=app
VITE_PORT=3334
DB_SSL=false